* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --cor-cyan: hsl(179, 62%, 43%);
    --cor-bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --terceiro-azul: #52cac8;
}

body {
    background-color: var(--light-gray);
    font-family: "Karla", sans-serif;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 620px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(185, 181, 181, 0.507);
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
}

h1 {
    padding-bottom: 25px;
    color: var(--cor-cyan);
}

h3 {
    padding-bottom: 15px;
    color: var(--cor-bright-yellow);
}

p {
    color: var(--grayish-blue);
}

.bottom{
    display: flex;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #2BB3B1;
    border-bottom-left-radius: 10px;
}

.right {
    flex: 1;
    background-color: var(--terceiro-azul);
    border-bottom-right-radius: 10px;
}

h4 {
    font-size: 18px;
    margin: 30px 40px 10px;
    color: #fff;
}

.bottom p {
    padding: 5px 40px;
    color: #fff;
}

.left span {
    font-size: 14px;
    font-weight: 200;
    color: white;
}

.p-left {
    font-size: 30px;
    font-weight: bold;
}

.p-size {
    font-size: 15px;
    font-weight: 300;
}

.btn-signup {
    border-radius: 8px;
    margin: 25px 45px 40px 40px;
    text-align: center;
    padding: 15px;
    background-color: var(--cor-bright-yellow);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(39, 37, 37, 0.329);
}

.right p {
    text-align: justify;
    width: 260px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
}
